body{
	background-color: black;
	color: white;
	max-width: 200px;
  	margin: auto;
	margin-top: 200px;
	font-family: Courier New;
}

button:hover{
	opacity: 0.8;
}


.video-button{
	background-color: grey;
/* 	margin-top: 400px; */
/* 	margin-left: 800px;		 */
	width: 200px;
	height: 100px;
	border-radius: 50px;
	border: solid;
	border-color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 25px;

}

	
.video-button:active{
	background-color: white;
	color: grey;
}

.rock-paper-scissors-button{
	background-color: rgb(141,181,196);
/* 	margin-top: 600px; */
/* 	margin-left: 800px; */
	width: 200px;
	height: 100px;
	border-radius: 50px;
	border: solid;
	border-color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 25px;
}

.rock-paper-scissors-button:active{
	background-color: white;
	color: rgb(141,181,196);
}
